<section class="benefits">
    <div class="container">
        <h3 class="title">
            Our benefits
        </h3>
        <h6 class="subtitle">
            Here our benefits if you collaboration with our team
        </h6>
        <div class="benefits__inner">
            <div class="benefits__item">
                <h4 class="benefits__title">Flexible time</h4>
                <p class="benefits__text">
                    We work wherever you ready to builds. Work fast and profesional
                </p>
            </div>
            <div class="benefits__item">
                <h4 class="benefits__title">Customizable design</h4>
                <p class="benefits__text">
                    We can design your buildings, but we open if you want to customize your design or if you have
                    architect
                </p>
            </div>
            <div class="benefits__item">
                <h4 class="benefits__title">Negotiable price</h4>
                <p class="benefits__text">
                    Yes, we’re open to negotiate the price with you, and we will give the best price for our lovely
                    clients
                </p>
            </div>
        </div>
    </div>
</section>