<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top-inner">
                <div class="footer__direction">
                    <a class="logo logo_footer" href="#">
                        <img src="images/logo.svg" alt="logo">
                    </a>
                    <address class="footer__address">Lizenzo street number 12 Jakarta, Indonesia</address>
                    <a class="button button_footer" href="#">Get directions</a>
                </div>
                <div class="footer__columns">
                    <div class="footer__column">
                        <h4 class="title title_white">Menu</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#">Home</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">About</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Gallery</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Service</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__column">
                        <h4 class="title title_white">Contact</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#">E-mail</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Mobile</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Whatsapp</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Fax</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__column">
                        <h4 class="title title_white">Career</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#">Job</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Part-time</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Internship</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Service</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__column">
                        <h4 class="title title_white">Business</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#">Affiliate</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Collaboration</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Investment</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">People</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            2021 - Copyright ZHB Studio
        </div>
    </div>

</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>