<section class="get">
    <div class="container">
        <div class="get__inner">
            <h3 class="get__title">
                Want to get our offer updates and news?
            </h3>
            <div class="get__info">Submit your e-mail and we will give you update about information and discount. Every
                single week. (not spamming)</div>
            <form class="get__form">
                <input class="get__input" type="email" placeholder="Enter your e-mail here">
                <button class="button button_form">Submit</button>
            </form>
        </div>
    </div>
</section>