<div class="header-top">
    <a class="header__logo" href="#">
        <img src="images/logo.svg" alt="logo">
    </a>
    <nav class="header-top__menu">
        <ul class="header-top__list">
            <li class="header-top__item">
                <a class="header-top__link header-top__link_white" href="db/index.html">Home</a>
            </li>
            <li class="header-top__item">
                <a class="header-top__link header-top__link_white" href="db/about.html">About</a>
            </li>
            <li class="header-top__item">
                <a class="header-top__link header-top__link_white" href="#">Services</a>
            </li>
            <li class="header-top__item">
                <a class="header-top__link header-top__link_white" href="#">Gallery</a>
            </li>
            <li class="header-top__item">
                <a class="header-top__link header-top__link_white" href="#">Contact</a>
            </li>
            <li class="header-top__item">
                <a class="header-top__link header-top__link_white" href="#">News</a>
            </li>
        </ul>
    </nav>
    <div class="header-top__toggle header-top__toggle_white">
        <span></span>
    </div>
</div>