<section class="love">
    <div class="container">
        <div class="love__inner">
            <div class="love__content">
                <h2 class="title title_white">
                    We love to make perfect
                    <span> home </span>
                </h2>
                <p class="love__text">
                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
            <div class="love__image">
                <img src="images/staff/image-21.jpg" alt="image">
            </div>
        </div>
    </div>
</section>