<section class="partners">
    <div class="container">
        <div class="partners__inner">
            <h3 class="title title_left title_width">
                Our Partners
            </h3>
            <div class="partners__links">
                <a class="partners__link" href="#">
                    <svg class="partners__logo">
                        <use xlink:href="images/icons-sprite.svg#icon-logo"></use>
                    </svg>
                </a>
                <a class="partners__link" href="#">
                    <svg class="partners__logo-2">
                        <use xlink:href="images/icons-sprite.svg#icon-logo2"></use>
                    </svg>
                </a>
                <a class="partners__link" href="#">
                    <svg class="partners__logo-3">
                        <use xlink:href="images/icons-sprite.svg#icon-logo3"></use>
                    </svg>
                </a>
                <a class="partners__link" href="#">
                    <svg class="partners__logo-4">
                        <use xlink:href="images/icons-sprite.svg#icon-logo4"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>