<section class="reviews">
    <div class="container">
        <div class="reviews__inner">
            <div class="reviews__info">
                <h3 class="reviews__title">What our clients say?</h3>
                <h6 class="reviews__subtitle">See what our clients say about their new home</h6>
                <a class="button" href="#">See more</a>
            </div>
            <div class="reviews__box">
                <div class="reviews__content">
                    <p class="reviews__text">I really happy to see the result my new home. It’s really good house and
                        good price too. And they work so fast becasue they have the best team. Once again, thankyou. I
                        really appreciate it.
                    </p>
                    <div class="reviews__author">- Mr. Roberto</div>
                </div>
            </div>
        </div>
    </div>
</section>