<section class="story">
    <div class="container">
        <div class="story__inner">
            <div class="story__images">
                <img class="story__img story__img_big" src="images/staff/image-19.jpg" alt="images">
                <img class="story__img story__img_small" src="images/staff/image-20.jpg" alt="images">
            </div>
            <div class="story__info">
                <h2 class="title title_left">Here were the story begins</h2>
                <p class="story__text">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                <p class="story__text">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
</section>