<section class="works">
    <div class="container">
        <div class="works__inner">
            <h3 class="title title_center">
                Our works
            </h3>
            <h6 class="subtitle subtitle_white"> Here our some of the best the result when we build some buildings,
                houses,
                and also
                interior designs
            </h6>
            <div class="works__images">
                <img class="works__image" src="images/staff/image-8.jpg" alt="image">
                <img class="works__image" src="images/staff/image-9.jpg" alt="image">
                <img class="works__image" src="images/staff/image-10.jpg" alt="image">
                <img class="works__image" src="images/staff/image-11.jpg" alt="image">
                <img class="works__image" src="images/staff/image-12.jpg" alt="image">
                <img class="works__image" src="images/staff/image-13.jpg" alt="image">
                <img class="works__image" src="images/staff/image-14.jpg" alt="image">
                <img class="works__image" src="images/staff/image-15.jpg" alt="image">
                <img class="works__image" src="images/staff/image-16.jpg" alt="image">
            </div>
            <div class="works__box-line">
                <a class="button" href="#">See more</a>
            </div>
        </div>
    </div>
</section>