.slider-2 {
	$self: &;
	position: relative;
	z-index: 3;
	color:#fff;
	padding-top: 83px;
	padding-left: 107px;
	@include media ('<=lg'){
		padding-left: 30px;
	}
	@include media ('<=sm'){
		padding-top: 30px;
	}
	@include media ('<=xs'){
		padding-left: 0;
	}
	
	&__info {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		overflow: hidden;
	}

	&__title {
		font-size: 52px;
		font-weight: 700;
		max-width: 740px;
		line-height: 78px;
		margin-bottom: 16px;
		@include media ('<=md'){
			font-size: 42px;
			line-height: 60px;
			max-width: 600px;
		}
		@include media ('<=sm'){
			max-width: 525px;
			font-size: 37px;
			line-height: 55px;
		}
		@include media ('<=xs'){
			max-width: 445px;
			font-size: 30px;
			line-height: 42px;
		}
		@include media ('<=xxs'){
			max-width: 400px;
		}
		@include media ('<=xxxs'){
			max-width: 300px;
		}
	}

	&__text {
		line-height: 27.2px;
		font-weight: 500;
		max-width: 445px;
		@include media ('<=xs'){
			max-width: 345px;
		}
		@include media ('<=xxs'){
			max-width: 300px;
		}
		@include media ('<=xxxs'){
			max-width: 250px;
		}
	}	
	

}
