.header {
	$self: &;
	margin-bottom: 100px;
	@include media ('<=md'){
		margin-bottom: 50px;
	}
	
	&__container {
		max-width: 1470px;
		min-height: 690px;
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
		&_onmain {
			background: url(images/bg-header.jpg) top center / cover no-repeat transparent;
			min-height: 450px;
			margin-bottom: 100px;
			@include media ('<=md'){
				margin-bottom: 50px;
			}
		}
	}

	&__content-over {
		display: flex;
	}

	&__under {	
		overflow: hidden;
		max-width: 1040px;
		position: absolute;
		top: 108px;
		right: 0;
		@include media ('<=sm'){
			top: 0;
		}
	}
	
	&__inner {
		position: absolute;
		z-index: 2;
		top: 0px;
		left: 0;
		height: 100%;
		width: 100%;
		max-width: 760px;
		display: flex;
		flex-shrink: 1;
		@include media ('<=xxlg'){
			max-width: 50%;
		}
		@include media ('<=xlg'){
			max-width: 45%;
		}
		@include media ('<=sm'){
			display: none;
		}
		// height: 0; 
		// width: 700px;
		// border-top: 760px solid #FFE344;
		// border-left: 0px solid transparent;
		// border-right: 190px solid transparent;
	}
	
	&__over {		
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	&__prev-item {
		display: block;
		width: calc(100% / 2 - 20px);
		margin: 0 auto;
		box-shadow: (0px 8px 30px rgba(2, 43, 87, 0.25));
	}

	&__button {
		z-index: 3;
		position: absolute;
		bottom: 24%;
		left: 107px;
		@include media ('<=lg'){
			left: 40px;
		}
		@include media ('<=md'){
			bottom: 30%;
		}
		@include media ('<=sm'){
			bottom: 40%;
		}
		@include media ('<=xs'){
			left: 15px;
		}
		@include media ('<=xxs'){
			bottom: 30%;
		}
	}
}
